.main {
  font-family: "Roboto", sans-serif;

  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
  padding-bottom: 2rem;
}

.flashcardsText {
  color: #7c81ad;
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}

.main > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main > ul > li {
  color: #7c81ad;
  font-size: 1.5rem;
  list-style: none;
  margin: 1rem 0;
}

.deleteSet {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.paragraphButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.underline {
  text-decoration: underline;
}
