.main {
  font-family: "Roboto", sans-serif;

  margin-top: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}

.flashcardsText {
  color: #7c81ad;
  font-size: 2.5rem;

  font-weight: 500;
}

.main > ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

.main > ul > li {
  font-size: 1.75rem;
  margin: 1rem 0;
}

.main > ul > li > a {
  color: #7c81ad;
  text-decoration: none;
}
