.main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainH1 {
  font-size: 2.5rem;
  color: #7c81ad;
  margin-bottom: 2rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem 0 5rem 0;
}

@media (max-width: 500px) {
  .links {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 300px) {
  .links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.links > a {
  color: #7c81ad;
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem;
}
