.footer {
  background-color: white;
  margin: 0;
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

  color: #4b6982;
}

.footer a {
  color: #7c81ad;

  text-decoration: none;
}
