.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 1.25rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  text-align: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #7c81ad;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav .siteName {
  color: #6499e9;
  font-size: 3rem;
}

.nav li:hover {
  background-color: #b4b4b3;
}
